fastapi
uvicorn[standard]
pydantic
python-dotenv

langgraph
langchain
langchain-community
langchain-groq
langchain-huggingface
sentence-transformers
langchain-pinecone
langchain-text-splitters

pinecone
pypdf
streamlit
requests
langchain-experimental


